<!DOCTYPE html>
<html>
    <head>
        <title>Editing</title>
    </head>
    <body>
        <h2>Edit user</h2>
        <form method="post">           
            <label for="userlogin">Login:</label><br>
            <input type="text" name="userlogin" value="{{.Login}}"><br>
            <label for="userpassword">Password:</label><br>
            <input type="text" name="userpassword" value="{{.Password}}"><br>
            <input type="submit" value="Change">
        </form>      
    </body>
</html>