<!DOCTYPE html>
<html>
    <head>
        <title>Главная страница</title>
    </head>
    <body>
        <h2>Список пользователей</h2>
        {{if ne .Users nil}}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th></th>
                    <th></th>
                </thead>
                
                {{range .Users}}
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.Login}}</td>
                        <td>{{.Password}}</td>
                        <td><a href="/edit/{{.Id}}"></a></td>
                        <td><a href="/remove"></a></td>
                    </tr>
                {{end}}
            </table>
        {{else}}
            <p></p>
            <h4>No any users. Please, add them</h4>
        {{end}}
        <p></p>
        <a href="/add">Добавить пользователя</a>
    </body>
</html>