<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
    </head>
    <body>
        <h2>User list</h2>
        {{if .}}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Password</th>
                    <th></th>
                </thead>
                
                {{range .}}
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.Login}}</td>
                        <td>{{.Password}}</td>
                        <td><a href="/edit/{{.Id}}">Change</a>
                            <a href="/remove/{{.Id}}">Remove</a>
                        </td>
                    </tr>
                {{end}}
            </table>
        {{else}}
            <p></p>
            <h4>No any users. Please, add them!!!</h4>
        {{end}}     
    </body>
</html>